/* 过度动画 */
.fade-enter-active,
.fade-leave-active {
	transition: opacity .5s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
	{
	opacity: 0;
}

/* 公司底部导航 */
.footer-nav {
	position: fixed;
	left: 0;
	bottom: 0;
	height: .98rem;
	width: 100%;
	box-shadow: 0px -4px 2px 0px rgba(238, 238, 238, 0.15);
	border: solid 1px #eeeeee;
	background-color: #fff;
	display: flex;
	font-size: .3rem;
	color: #1e1e1e;
	justify-items: center;
	align-items: center;
	z-index: 10;
}

.footer-nav div {
	border-right: 1px solid #e6e6e6;
	display: block;
	flex: 1;
	text-align: center;
	height: .64rem;
	line-height: .64rem;
	position: relative;
}

.footer-nav div:last-child {
	border: none;
}

.footer-nav div.active {
	color: #ffba30;
}

.footer-line {
	display: inline-block;
	position: absolute;
	width: .6rem;
	height: .04rem;
	bottom: 0;
	left: 50%;
	margin-left: -.3rem;
	background: #ffba30;
}

/* -----蒙版--- */
.mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, .4);
	z-index: 25;
}

/* 商品详情购买导航 */
.car-foot {
	position: fixed;
	height: .98rem;
	width: 100%;
	background: #fff;
	left: 0;
	line-height: .98rem;
	bottom: 0;
	display: flex;
	font-size: .3rem;
	box-shadow: 1px -7px 6px 0px rgba(238, 238, 238, 0.4);
	border-top: solid 1px #eeeeee;
	align-items: center;
	align-content: center;
	justify-content: center;
	z-index: 89;
}

.car-icon {
	width: .99rem;
	height: 100%;
	text-align: center;
	margin: 0;
	display: inline-block;
	border-right: .01rem solid #e6e6e6;
}

.car-icon img {
	display: inline-block;
	vertical-align: middle;
}

.goods-home {
	width: .38rem;
	height: .35rem;
}

.car-bag {
	width: .3rem;
	height: .34rem;
}

.call-phone {
	width: .33rem;
	height: .33rem;
}

.join-car {
	width: 2.24rem;
	color: #7f7f7f;
}

.buy {
	width: 2.26rem;
	height: 100%;
	color: #fff;
	margin-right: 0;
	background-image: linear-gradient(98deg, #feca3a 0%, #feb336 100%), linear-gradient(#c8c8c8, #c8c8c8);
	background-blend-mode: normal, normal;
	box-shadow: 0px 9px 17px 1px rgba(254, 166, 19, 0.2);
}

.w450{
	width: 4.5rem!important;
}

.noline{
	
	border-right:none!important;
}