/* 部分头部 */
.header {
	width: 100%;
	height: .88rem;
	display: flex;
	font-size: .34rem;
	color: #1e1e1e;
	justify-content: center;
	align-items: center;
	background: #fff;
	z-index: 29;
	position: fixed;
	top: 0;
	left: 0;
	font-family: 'pf-Bold';
	border-bottom: 1px solid #f5f5f5;
}
.icon-left {
	display: inline-block;
	width: .16rem;
	height: .28rem;
	margin: 0 0 0 .3rem;
}

.icon-left-p {
	position: absolute;
	left: .32rem;
	top: .24rem;
	width: .16rem;
	/* height: .2rem; */
	z-index: 19
}
.header-title{
	flex: 1;
}
