@charset "UTF-8";
*, :after, :before {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent; }
@font-face {
	font-family:'pis';
	src:url('../font/pistara.woff') format('woff'),
         url('../font/Pistara.woff.ttf') format('truetype'),
         url('../font/pistara.svg#webfontjKg17VrE') format('svg');
}
@font-face {
	font-family:'pf-Bold';
	src:url('../font/pingfangBlod.ttf') format('truetype');
}
@font-face {
	font-family:'pf-Medium';
	src:url('../font/PINGFANGMEDIUM.ttf') format('truetype');
}
@font-face {
	font-family:'pf-Regular';
	src:url('../font/PINGFANGREGULAR.ttf') format('truetype');
}
@font-face {
	font-family:'pf-Heavy';
	src:url('../font/PINGFANGHEAVY.ttf') format('truetype');
}
html {
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  font-family: PingFang SC,Helvetica Neue,Arial,sans-serif;
  line-height: 1.2;
  -webkit-user-select: none;
  user-select: none;
	font-family:'pf-Medium';
  -webkit-font-smoothing: antialiased;
  touch-action: manipulation;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  overflow-x: hidden; }

body {
  font-size: 14px;
	font-family: "pf-Medium";
  background: #fff; }

body, button, dd, dl, ol, ul {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

a {
  outline: none;
  color: inherit;
  text-decoration: none; }

/* a:active, */
a:focus {
  opacity: 0.85; }

a, img {
  -webkit-touch-callout: none; }

img {
  vertical-align: top; }

button, input, select, textarea {
  outline: none;
  border: none;
  font-size: inherit;
  font-family: inherit; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 400; }

img {
  max-width: 100%; }

textarea {
  resize: none; }

select {
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none; }

input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  appearance: button; }
.c1e {
  color: #1e1e1e!important; }

.cffb {
  color: #ffba30!important; }

.f26 {
  font-size: 0.26rem;
  line-height: 0.28rem; }

.f28 {
  font-size: 0.28rem;
  line-height: 0.3rem; }

.f24 {
  font-size: 0.24rem;
  line-height: 0.26rem; }

.f34 {
  font-size: 0.34rem;
  line-height: 0.34rem; }
.f36 {
  font-size: 0.36rem;
  line-height: 0.38rem; }

.f48 {
  font-size: 0.48rem;
  line-height: 0.5rem; }

.f32 {
  font-size: 0.32rem;
  line-height: 0.34rem; }

.tleft {
  text-align: left !important; }

.tright {
  text-align: right !important; }

.ml32 {
  margin-left: 0.32rem; }

.mr32 {
  margin-right: 0.32rem; }

.mt10 {
  margin-top: 0.1rem; }

.m32 {
  margin: .48rem 0 .32rem 0; }

.mt30 {
  margin-top: 0.3rem; }

.mt26 {
  margin-top: .26rem; }

.mt44 {
  margin-top: .44rem; }

.mt45 {
  margin-top: .45rem; }

.mt48 {
  margin-top: .48rem; }

.mt40 {
  margin-top: 0.4rem !important; }

.mt114 {
  margin: 1.14rem 0 1rem 0; }

.form-login input::placeholder {
  font-size: .22rem;
  color: #aaa; }

.none {
  display: none!important; }

.clear:after {
  content: "";
  display: block;
  clear: both; }

.clear {
  zoom: 1; }
.tl{
	text-align: left!important;
}
.tr{
	text-align: right!important;
}
.mt88{
	margin-top: .88rem;
}
	/* 加载更多 */
	.loadingmore {
		margin: 0!important;
	  height: 0.92rem;
	  line-height: 0.92rem;
	  width: 100%!important;
	  text-align: center;
	  color: #666;
	  padding: 0 !important;
	  font-size: 0.28rem;
	  background-color: #fff;
	  font-weight: bold;
		justify-content: center;
	  border: none!important;
		}
	.loadingmore	img{
		vertical-align: middle;
		width: 0.3rem;
		height: 0.3rem;
		}
		/*选择按钮*/
		.check-box{
			width: .3rem;
			height: .3rem;
			margin: 0;
			display: inline-block;
			vertical-align: middle;
			position: relative;
		}
		.check-box input{
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			z-index: 2;
		}
		.check-box input:checked + label{
			border: none;
			background: #ffba30;
			background-image: url('../img/icon-check-fff.png');
			background-repeat: no-repeat;
			background-size:.21rem .14rem;
			background-position: .04rem .08rem;
		}
		.check-box .checkbox-label{
			display: inline-block;
			width: .3rem;
			height: .3rem;
			border-radius:50%;
			border: .02rem solid #babac2;
		}
.banner-box img{
			width: 100%;
			height: 100%;
		}
		.button-prev,
		.button-next {
			width: .33rem!important;
			position: absolute;
			height: .26rem!important;
			top: 50%;
			margin-top: -.13rem;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			z-index: 15;
		}
		
		.button-prev {
			left: .3rem;
			background-image: url('../img/icon-pre.png')!important;
		}
		
		.button-next {
			right: .3rem;
			background-image: url('../img/icon-next.png')!important;
		}
/*# sourceMappingURL=style.css.map */
